@import '../variables';

footer {
    padding: 30px 16px;

    .bottom {
        @include flex(center, space-between, $fd: column);
        gap: 15px;

        .copyright {
            @include primary($fs: .875rem);
            margin-bottom: 0;
        }

        .surge {
            @include flex(center, $fd: column);
            gap: 6px;

            * {
                @include primary($fs: .875rem);
                margin-bottom: 0;
            }

            > a, svg {
                @include svg-size(110px, 28px);

                &:hover {
                    path {
                        fill: #afca0b;
                    }
                }
            }
        }
    }
}

@media #{$small} {
    footer {
        .bottom {
            .surge {
                @include flex(center, center, $fd: row);
            }
        }
    }
}


@media #{$large} {
    footer {
        .bottom {
            flex-direction: row;
        }
    }
}